
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{--mont-font:"Montserrat", sans-serif;--doha-clr:rgba(138, 21, 56, 1);--lg-grey:rgba(105, 105, 105, 0.4);--box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;}

body {font-family: 'Poppins', sans-serif;
float: left;
width: 100%;
color: #000;font-weight: 300;
background-attachment: fixed; background-size: 40%;
padding-right: 0 !important;
   -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
text-rendering: optimizeLegibility;


}
.modal-open {
padding-right: 0!important;
overflow: hidden;
}
::-moz-selection {
color: #000;
background: #d7c07f;
}
::selection {
color: #000;
background: #d7c07f;
}
.btn{ box-shadow: none; outline: none;}
button{ box-shadow: none; outline: none;}
:focus {
outline: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
color: #000;  
}
p {
color: #282828;
line-height: 33px;
font-size: 15px; font-weight: 400;-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
a{text-decoration: none;}
a:hover{color: #0e2c18;}
ul li,
ul li a,
ol li,
ol li a {
color: #161616;
font-size: 14px; font-weight: 300;
line-height: 26px;text-decoration: none;
}
a:hover,
a:focus {
text-decoration: none;
outline: none;
}
:focus {
outline: none;
}
img{max-width:100%;height:auto;}


/* topbaar */
.top-bar{background:  linear-gradient(90deg, #8A1538 0%, #8A1538 85%, #D34E56 100%);padding: 8px 0;}
.top-bar *{color: #fff;}
.top-bar p{font-size: 14px;text-align: center;margin: 0;}
#top-close{position: absolute;right: 30px;top: 50%;transform: translatey(-50%);}
#top-close {font-size: 13px;cursor: pointer}

/* banner */
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
  }
 
  /* 14/10/24 */
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-image{height: 100%;}
  .tab-det-img{height: 207px;}
  .tab-det-img img{width: 100%;height: 100%;object-fit: cover;}

  /* end */

  h1{font-size: 50px;color:#fff;font-weight: bold;font-family: var(--mont-font);text-align:right;  text-shadow: 2px 2px rgba(0, 0, 0, 0.25);}
  .slide-content{position: absolute;right: calc((100% - 1140px)/2 + 1.5rem);bottom: 3rem;}
  @media (min-width: 1400px) {
    .slide-content{position: absolute;right: calc((100% - 1320px)/2 + 1.5rem);bottom: 3rem;}
    
  }
  .slide-content h2{font-size: 28px;font-weight: bold;color: #fff;text-align: right;font-family: var(--mont-font);margin-bottom: 2rem;}
  .slide-content ul li{font-size: 17px;color: #fff;border-top: 1px solid #fff;padding-top: 10px;flex-basis: 160px;text-align: center}
  .slide-content ul{padding: 0;margin: 0;list-style: none;display: flex;gap: 1rem;justify-content: flex-end;padding-bottom: 4rem;}
  .swiper-button-next, .swiper-button-prev{top: unset;bottom: 0;width:40px;height: 40px;border-radius: 50%;border: 1px solid #fff;}
  .swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: auto;
    right: var(--swiper-navigation-sides-offset, 70px);
}
.swiper-button-next:after, .swiper-button-prev:after{font-size: 19px;color: #fff}
.social{padding: 0;margin: 0;list-style: none;}
.social{position: absolute;bottom: 30px;z-index: 2;left:25px}
.social li i{color: #fff;font-size: 18px;margin-bottom: 1rem;}
header{background: rgba(30, 30, 30, 0.21);position:absolute;top: 0;left: 0;width: 100%;z-index: 2;}

header .nav-link{font-size: 14px;color: #fff !important;padding: 0 1.5rem !important;font-weight: 300;}

.banner-ico{position: absolute;right: 0;top:0;z-index: 2;height: 100%;}
.banner-ico img{height: 100%;}
.dropdown-item{font-size: 12px;}

.contents{display: flex;justify-content: space-between;gap:1rem}

/* about */
.title{font-size: 37px;font-weight: 400;color: #000;font-family: var(--mont-font);line-height: 50px;margin-bottom: 1.5rem;}
.title span{color: #6A3822;}
.about{padding: 3rem 0;}
.k-mre{font-size: 14px;color: #6A3822 !important;text-transform: capitalize;font-weight: 400;}
.l-arrow{display: inline-block;margin-left: 1rem;vertical-align:middle}
.ab-box-area{display: grid;grid-template-columns: repeat(3,1fr);gap: 1rem;}
.ab-cont{position:absolute;width: 100%;background: rgba(138, 21, 56, 0.9);bottom: 0;display: flex;align-items: center;justify-content: space-between;padding: 15px 10px;border-radius: 11px;}
.ab-cont *{color: #fff !important;}
.ab-img img{width: 100%;height: 100%;object-fit: cover}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{background: #fff;color: #6A3822;border-top: 1.4px solid #6A3822;}
.event-pills .nav-link{color: rgba(40, 40, 40, 0.9);font-size: 18px;font-weight: 400;border-top: 1.4px solid #cdcdcd;border-radius: 0;}
.event-pills{justify-content: center;gap: 4rem;margin: 2rem 1rem;}
.ab-cont h4{font-size: 16px;font-weight: 300;}
.sm-span{font-size: 13px;font-weight: 300;display: inline-block;padding: 0 10px;border-right: 1px solid #fff;}
.sm-span:last-child{border: none;}
span.sm-span:first-of-type{padding-left: 0;}
.events{padding: 3rem 0;}
.event-slider .owl-nav [class*=owl-]:hover{background: none;}
.event-slider .owl-nav [class*=owl-]{position: absolute;top: 50%;transform: translateY(-50%);}
.event-slider .owl-prev{left: -3rem;}
.event-slider .owl-next{right: -3rem;}
.events .tab-content{max-width: 1030px;margin: auto;}
@media (min-width: 1400px){
  .events  .tab-content{max-width: 1200px;margin: auto;}
}
.fmv .title span{color: rgba(84, 111, 82, 1);}
.fmv-box .ab-cont{background: linear-gradient(to bottom, rgba(44, 41, 41, 0) , rgba(37, 36, 36, 0.72), rgba(31, 31, 31, 1));}
.fmv{padding: 2rem 0 5rem;}
.tbyg .title span{color: rgba(209, 135, 96, 1);}
.thing-box h3{font-size: 18px;font-weight: 400;margin: 1rem 0;}
.thing-box p{font-size: 12px;line-height: 20px;margin: 0;}
.thing-box .k-mre{font-size: 11px;font-weight: 500;}
.thing-box{text-align: center;box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;padding: 1.5rem;height: 100%;}
.tbyg{padding-bottom: 4rem;}
.sub{padding: 2rem 0;background: url(../media/sub.png) right/cover;}
.email-inp{width: 500px;background: #fff;border-radius: 3rem;position: relative;margin: auto;padding: 14px;}
.email-inp input{width: 100%;border: none;font-size: 14px;background: transparent;}
.join{position: absolute;}

/* v2 header */
.h-v2 .nav-link{color: #000 !important;font-weight: 400;}
.h-v2{position: relative;background: #fff;}

/* search banner area */
.search-banner{height: 450px;background: linear-gradient(to right, rgba(30, 30, 30, 0.56),rgba(30, 30, 30, 0.56)),url(../media/search-ban.jpg)center/cover;}




/* search form css start */
.search-area {
  position: relative;
  z-index: 1;
  padding-top:60px;
}
.search-wrapper {
  position: relative
}
.s-ico{display: block;
  height: 30px;
  width: 30px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;}
.search-header {
  margin-bottom: -25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.search-nav {
  display: inline-block;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding:5px 30px;
  border-radius: 10px;
}
.search-nav .nav-item {
  margin: 5px;
}
.search-nav .nav-link {
  /* background: (113, 103, 255, 0.15); */
 
  padding: 6px 16px;
  font-weight: 500;
  color: #898989;
  position: relative;
  transition: none;
}
.search-nav .nav-link i {
  margin-right: 8px;
  color: #7167ff;
}
.search-nav .nav-link.active i {
  color: #fff;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: var(--doha-clr);
  background-color: transparent;
}
.search-nav .nav-link.active{
  background:transparent
}
.search-nav .nav-link.active:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background: var(--doha-clr);
  height: 2px;
  width: 100%;
 
}
.search-wrapper .tab-content {
  background: #fff;
  padding: 0 45px 30px 45px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.search-wrapper .search-box {
  background: #fff;
  padding: 30px 30px 50px;
  border-radius: 20px;
  box-shadow: 0 0 40px 5px rgb(0 0 0/5%);
}
.search-wrapper .search-box.flight-search {
  padding-top: 20px;
}
.search-form .form-group {
  height: 100%;
  position: relative;
  padding: 10px 15px;
  border-radius: 11px;
  border: solid 1px rgba(105, 105, 105, 1);
 
}
.flight-search-item{border: none;border-radius: 1rem;}
.flight-search-item .row .col-3:last-child .form-group{border:;}
.search-form .form-group label {
  color: #4f4b8b;font-size: 13px;
}
.search-form .form-control {
  border-radius: 12px;
  padding: 5px 0;
  box-shadow: none;
  color: #000;
  background: 0 0;
  border: none;
  font-size: 15px;
  font-weight: 500;
}
.search-form .form-group i {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 13px;
  color: var(--doha-clr);
}
.search-form .form-group p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #4f4b8b;
  font-size: 13px;
  margin: 0;
}
.search-form-swap {
  position: absolute;
  left: -45px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.search-form-swap i {
  background: #fff;
  font-size: 15px !important;
  position: unset !important;
  width: 40px;
  height: 40px;
  text-align: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  line-height: 35px;
  border-radius: 50%;
  border: 3px solid #fff;
  color: #7167ff;
}
.search-form-date {
  display: flex;
  gap: 15px;
}
.search-form .passenger-total {
  border-radius: 12px;
  padding: 2.4px 0;
  color: #000;
  font-size: 15px;
  font-weight: 500;
}
.search-form .passenger-box {
  cursor: pointer;
}
.search-form .passenger-box .dropdown-menu {
  background: #fff;
  border: none;
  border-radius: 10px;
  padding: 15px 10px;
  width: max-content;
  right: -15px !important;
  margin-top: 15px !important;
  box-shadow: 0 0 40px 5px rgb(0 0 0/5%);
}
.search-form .static-dropdown.passenger-box .dropdown-menu {
  right: 0 !important;
}
.search-form .passenger-box .dropdown-item:hover {
  background: 0 0;
}
.search-form .passenger-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.search-form .passenger-qty {
  display: flex;
  align-items: center;
  gap: 5px;
}
.search-form .passenger-qty button {
  border: none;
  width: 35px;
  height: 35px;
  line-height: 32px;
  border-radius: 50px;
  background: rgba(113, 103, 255, 0.15);
}
.search-form .passenger-qty button i {
  position: unset !important;
  font-size: 16px !important;
}
.search-form .passenger-qty input {
  width: 25px;
  text-align: center;
  border: none;
  outline: none;
  font-weight: 500;
  color: #4f4b8b;
}
.search-form .passenger-class-info .form-check {
  margin-top: 10px;
}
.search-form .passenger-class-info .form-check-input {
  box-shadow: none;
  margin-top: 7px;
}
.search-form .search-btn .theme-btn {
  display:flex;
  align-items: center;
  justify-content:center;
  position: absolute;
  border-radius: 50px;
 border: none;
  bottom: -25px;
  background-color: rgba(138, 21, 56, 1);
  text-transform: capitalize;
  color: #fff;
  left: 50%;
  padding: 7px 55px;
  white-space: nowrap;
  transform: translateX(-50%);
  width: 160px;
  height:40px
}
.search-form .flight-type {
  margin-bottom: 10px;
}
.search-form .flight-type .form-check-input {
  margin-top: 6.5px;
  box-shadow: none;
  border: 2px solid #898989;
}

.active-rb{background-color: #c1fff073;  border-radius: 2rem;}

.form-check-input:checked{background-color: var(--doha-clr) !important; border:2px solid var(--doha-clr) !important}
.search-form .flight-type .form-check-label {
  color: #898989;
  font-size: 13px;
  
  font-weight: 500;
}
.form-check-inline ~ .form-check-input:checked{background: red !important;}
.search-form .flight-type .form-check-input:checked + label{color: #000;}
.search-wrapper .flight-search-wrapper .tab-content {
  box-shadow: none;
  background: 0 0;
  border-radius: 0;
  padding: 0;
}
.flight-search .search-form-return {
  display: none;
}
.search-form .flight-multicity-item {
  margin-top: 25px;
  display: none;
}
.hotel-search-wrapper{
  border: solid 1px #e7e7e7;
  border-radius: 1rem;
}
.hotel-search-wrapper .col-4:last-child .form-group{border: none;}
.search-form .multicity-btn {
  padding-top: 31px;
  padding-bottom: 31px;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  color: green;
}
.search-form .multicity-item-remove {
  color: #f96768;
}
.search-form .multicity-item-remove i {
  color: #f96768 !important;
}
@media all and (max-width: 1199px) {
  .search-area .container {
    max-width: 100%;
  }
  .search-form .form-group {
    margin-bottom: 20px;
  }
}
@media all and (max-width: 991px) {
  .search-nav {
    border-radius: 20px;
  }
  .search-nav .nav {
    justify-content: center;
  }
  .search-wrapper .tab-content {
    border-radius: 20px;
  }
  .search-form-swap {
    left: 50%;
    top: -30px;
    transform: translateX(-50%);
  }
}

.ui-widget.ui-widget-content {
  border: none;
  padding: 8px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 3px 24px rgb(0 0 0/10%);
}
.ui-widget-header .ui-icon {
  background-image: unset;
}
.ui-datepicker .ui-widget-header {
  background: var(--doha-clr);
  font-size: 13px;
  color: #fff;
  border: none;
  border-radius: 8px;
}
.ui-datepicker .ui-datepicker-prev::after {
  content: "\f100";
  left: 5px;
  position: absolute;
  font-family: "FontAwesome";
  color: #fff;
}
.ui-datepicker .ui-datepicker-next::after {
  content: "\f101";
  right: 5px;
  position: absolute;
  font-family: "FontAwesome";
  color: #fff;
}
.dropdown-item h6{font-size: 13px;}
.ui-datepicker .ui-datepicker-header .ui-corner-all,
.ui-datepicker .ui-datepicker-header .ui-state-hover {
  cursor: pointer;
  border: 0;
  background: 0 0;
  font-weight: 600;
  top: 3px;
}
.ui-datepicker td span,
.ui-datepicker td a {
  display: block;
  padding: 0.2em;
  text-align: center;
  text-decoration: none;
}
.ui-state-default,
.ui-widget-content .ui-state-default {
  border: none;
  border-radius: 8px;
}
.ui-state-highlight,
.ui-widget-content .ui-state-highlight {
  border: none;
  background: #f96768;
  color: #fff;
}

.ui-state-active,
.ui-widget-content .ui-state-active {
  background: var(--doha-clr);
  color: #fff;
}
.ui-timepicker.ui-widget.ui-widget-content {
  box-shadow: none;
}
.ui-timepicker-standard {
  border: none !important;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 40px 5px rgb(0 0 0/5%);
  z-index: 2 !important;
}
.ui-timepicker-standard a {
  border: none !important;
  transition: none !important;
  border-radius: 8px;
}
.ui-timepicker-standard a#ui-active-item,
.ui-timepicker-standard a:hover {
  background: var(--doha-clr);
  color: #fff;
}
/* search from css end */



.act-type ul{padding: 0;margin:0;list-style: none;display: flex;align-items: center;gap: 1rem;justify-content:space-between}
.act-type ul li label{font-size: 14px;font-weight: 400;margin: 0;display: inline-block;padding-bottom: 0.5rem;cursor: pointer;}
.t-ico{vertical-align: baseline;margin-right: 7px;}
.act-type input[type='radio']:checked + label{color: var(--doha-clr);border-bottom: 1.5px solid var(--doha-clr)}
.act-type input[type='radio']{display: none;}
.act-type{padding: 1.5rem 0 ;}
.loader-btn{width: 25px;height: 25px;border: 2px solid transparent;border-radius: 50%;border-top-color: #fff; animation: turns 1s infinite linear;}
@keyframes turns {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
.act-type ul li select{font-size: 14px;}



/* listing page css */
.search-list-area{padding: 1rem 0;border-top: 1px solid rgba(105, 105, 105, 0.4);margin-top: 1rem;}
.filter-head {display: flex;justify-content: space-between;align-items: center;padding-bottom: 0.5rem;}
.filter-head h3{font-size: 16px;font-weight: 600;margin: 0;}
.filter-head button{border: none;outline: none;font-size: 16px;font-weight: 400;color: var(--doha-clr);background: transparent;text-transform: capitalize;}
.h-v2 .navbar{background: #fff;}
.side-filter .accordion-item:first-of-type,.side-filter .accordion-item:first-of-type>.accordion-header .accordion-button, .side-filter .accordion-item:last-of-type{border-radius:0 !important;}
.side-filter .accordion-button{padding: 0;font-size: 15px;text-transform: capitalize;font-weight: 500;}
.side-filter .accordion-button:not(.collapsed){background: transparent;box-shadow: none;}
.side-filter .accordion-body{padding: 0;margin-top: 0.5rem;}
.side-filter .accordion-button:focus{box-shadow: none;}
.side-filter .accordion-item{border: 0;border-top: 1px solid rgba(105, 105, 105, 0.4);padding: 1rem 0;}
.rb-box label{font-size: 13px;color: rgba(40, 40, 40, 0.7);font-weight: 400;cursor: pointer;text-transform: capitalize;}
.rb-box input[type='radio']{width: 20px;height: 15px;vertical-align: middle;accent-color: var(--doha-clr);margin-right: 5px;}
.rb-box{margin: 4px 0;}
.range{position: relative;margin-top: 1.5rem;}

.field input{-webkit-appearance: none;height: 5px;width: 100%;outline: none;overflow: hidden;border-radius: 11px;}
.slider-value{position: relative;width: 100%;text-align: center;}
.slider-value span{width:max-content;height: 20px;background: rgba(242, 203, 215, 1);color:var(--doha-clr);position: absolute;transform: translateX(-50%);line-height: 30px;top: -14px;display:flex;justify-content: center;align-items: center;font-size: 10px;font-weight: 600;clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);padding-bottom: 5px;padding-left: 10px;padding-right: 10px;}
.field input::-webkit-slider-thumb{
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: red;
  cursor: pointer;
}
.field input[type="range"]::-webkit-slider-runnable-track {
  height: 15px;
  background: rgba(217, 217, 217, 1);
  border-radius: 16px;
}

/* Track: Mozilla Firefox */
.field input[type="range"]::-moz-range-track {
  height: 15px;
  background:rgba(217, 217, 217, 1);
  border-radius: 16px;
}

/* Thumb: webkit */
.field input[type="range"]::-webkit-slider-thumb {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none; 
  /* creating a custom design */
  height: 15px;
  width: 15px;
  background-color:  var(--doha-clr);
  border-radius: 50%;
  z-index: 9999;
  /*  slider progress trick  */
  box-shadow: -407px 0 0 400px var(--doha-clr);
}
.val-div{display:flex;justify-content: space-between;align-items: center;}
.val-div *{font-size: 13px;
  color: rgba(40, 40, 40, 0.7);
  font-weight: 400;
  cursor: pointer;
  text-transform: capitalize;}


  .time-box label{font-size: 13px;
    text-align: center;
    color: rgba(40, 40, 40, 0.7);
    font-weight: 400;
    cursor: pointer;
    text-transform: capitalize;
    border: 1px solid rgba(105, 105, 105, 0.4);padding: 5px 15px;border-radius: 5px;
    
  }
  .time-box input[type='radio']{position: absolute;opacity: 0;}

  .time-box label:has(input:checked){border:1px solid var(--doha-clr);}
  .time-box{display: flex;gap: 1rem;align-items: center;margin-top: 1rem;}
  .search-list-area .col-3:has(.side-filter){box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;padding-top: 13px;padding-bottom: 13px;}
  .main-title-area h2{font-size: 16px;font-weight: 600;}
  .main-title-area h3{font-size: 13px;color: rgba(105, 105, 105, 1);margin: 0;font-weight: 300;}
  .act-type ul li select{border-radius: 5px;border: 1px solid #000;padding: 2px;}
  .search-wrapper .tab-content{max-width: 900px;margin: auto;}
  .sort-b *{font-size: 13px;color: rgba(78, 78, 78, 1);font-weight: 400;}
  .sort-b select{border: none;text-transform: capitalize;cursor: pointer;}
  .main-title-area{display: flex;justify-content: space-between;align-items: flex-start;margin-bottom: 2rem;}
  .sort-b{border: 1px solid rgba(105, 105, 105, 0.4);padding:4px 7px;border-radius: 5px;}
  .title-l h3{font-size:15px;font-weight: 400;}
  .title-l h4{font-size: 12px;font-weight: 400;}
  .rr{font-size: 11px;font-weight: 400;color:#000;margin-top: 0.5rem;}
  .rr .checked{color: gold !important;}
  .rr .fa-star{color: #bbbbbb;margin-right: 4px;}
  .activity-card p{color: rgba(105, 105, 105, 1);font-size: 12px;line-height: 24px;margin: 0;margin-top: 0.5rem;}
  .card-title{display: flex;justify-content: space-between}
  .title-r h3{font-size: 14px;color: rgba(105, 105, 105, 1);font-weight: 300;}
  .high{background: rgba(242, 203, 215, 1);padding: 3px 10px;font-size: 11px;color: var(--doha-clr);border-radius: 2px;font-weight: 400;}
  .c-head{padding: 1rem 0;border-bottom: 1px solid var(--lg-grey);}
  .c-middle ul{padding: 0;margin: 0;list-style: none;margin-bottom: 0.5rem;}
  .c-middle ul li{    color: rgba(105, 105, 105, 1);
    font-size: 12px;
    line-height: 22px;font-weight: 400;}
    .c-middle{padding: 1rem 0;border-bottom: 1px solid var(--lg-grey)}
    .offer-c{color: rgba(12, 114, 10, 1);font-weight: 400;font-size: 12px;margin: 0;}
    .b-r h4{font-size: 15px;font-weight: 500;}
    .b-r h4 span{color:rgba(105, 105, 105, 1);font-weight: 400;}
    .refund{font-size: 11px;color: rgba(105, 105, 105, 1);margin-left: 5px;}
    .c-bottom{padding: 1rem 0 0;}
    .see-avail{padding: 5px 25px;background: var(--doha-clr);color: #fff !important;border-radius:1rem;font-size: 14px;}
    .b-r{display: flex;justify-content: space-between;align-items: center;}
    .activity-card{padding: 17px;border-radius:10px;box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;}



    /* actitivry detail page */
    .detail-banner{height: 350px;position: relative;}
    .loc-in-banner *{color:#fff;font-size: 12px;}
    .loc-in-banner p{margin: 0;font-weight: 500}
    .loc-in-banner{background:rgba(33, 33, 33, 0.41);position: absolute;width: 100%;bottom: 0;z-index: 1;padding: 1rem 0;}
    .detail-head h2{font-size: 18px;font-weight: 600;margin-bottom: 10px;}
    .detail-head h3{font-size: 13px;color: rgba(40, 40, 40, 0.9);font-weight: 400;margin: 0;}
    .detail-head p{font-size: 12px;color: rgba(40, 40, 40, 0.9);font-weight: 400;margin: 0;}
    .activity-detial{padding: 2rem 0;}
    .detail-head{display: flex;justify-content: space-between;}
    .detail-head{border-bottom: 1px solid var(--lg-grey);padding-bottom: 1rem;}
    .detail-middle{padding-top: 0.7rem;border-bottom: 1px solid var(--lg-grey);padding-bottom: 1rem;}
    .detail-middle .high{margin-right: 10px;}
    .detail-middle p{color: rgba(40, 40, 40, 0.7);font-size: 12px;line-height: 22px;margin: 0;}
    .high-div{padding-bottom: 1rem;}
    .detail-foot .c-middle{border: none;padding-bottom: 0;}
    .detail-foot{display: flex;justify-content: space-between;align-items: center;}
    .foot-r{text-align: right;}
    .foot-r h4{font-size: 11px;color: rgba(40, 40, 40, 0.9);font-weight: 400;}
    .foot-r h2{font-size: 24px;font-weight: 500;}
    .c-middle ul li::before{content: "\f00c";font-family: FontAwesome;margin-right: 5px;}
    .detail-card{padding: 25px;box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;height: 100%;}
    .map{font-size: 13px;color: var(--doha-clr)!important;text-decoration: underline;font-weight: 400;}
    .map-card{padding: 25px;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;height: 100%;}
      .map-frame{margin-bottom: 1rem;}


     .tab-area-detial .nav-pills .nav-link{border-radius: 0;font-size:14px;font-weight: 600;color: #000;}
     .tab-area-detial .nav-pills .nav-link.active,  .tab-area-detial  .nav-pills .show>.nav-link{border-top: none;border-bottom: 2px solid var(--doha-clr);color: var(--doha-clr);  }
     .tab-area-detial{margin-top: 2rem;}
     .tab-area-detial .nav-pills{border-bottom: 1px solid var(--lg-grey);justify-content: space-between;}
     .det-tab-body ul{padding:0;margin: 0;list-style: none;}
     .det-tab-body ul li{color: rgba(40, 40, 40, 0.7);
      font-size: 12px;
      line-height: 22px;font-weight: 400;margin-bottom: 0.7rem;}
      .tab-det-img{margin-top: 2rem;}
      .tab-area-detial{padding: 25px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;}
        .det-tab-body h3{font-size: 14px;color: rgba(40, 40, 40, 0.9);font-weight: 600;}
        .card-cont h3{font-size: 13px;font-weight: 400;}
        .r-card-rr{font-size: 13px;}
        .r-card-h{display: flex;gap: 1rem;}
        .review-card{margin-top: 1.5rem;padding-top: 1rem;border-top: 1px solid var(--lg-grey);}
        .review-card p{color: rgba(105, 105, 105, 1);
          font-size: 12px;
          line-height: 22px;
          font-weight: 400;margin-top: 0.5rem;}
    .review-card .tab-det-img{margin-top: 0rem;}
    .sub-t{font-size: 12px;font-weight: 400;margin: 1rem 0;}
    .d-ip{margin-top: 1.5rem;}
    .d-ip p{color: rgba(40, 40, 40, 0.7);
      font-size: 12px;
      line-height: 22px;
      margin: 0;}
      .sub-ul{margin: 0;list-style-type: disc !important;list-style-position: inside !important;}
      .sub-ul li{margin: 0.3rem !important;}
      .chat{position: fixed;bottom: 20px;right: 20px;width: 40px;cursor: pointer;}
      .reward h2{font-size: 15px;
        text-transform: capitalize;
        font-weight: 500;}
        .reward p{font-size: 12px;
          color: rgba(40, 40, 40, 0.7);
          font-weight: 400;line-height: 22px;}
        .reward ul{padding: 0;margin: 0;}
        .reward ul li{
          font-size: 12px;
          color: rgba(40, 40, 40, 0.7);
          font-weight: 400;list-style-position: inside;
        }
        .reward{margin-top: 1rem;}



        /* about qatar */
        .breadcrumb li,.breadcrumb a{font-size: 15px;font-weight: 400;text-transform: capitalize;color: rgba(40, 40, 40, 0.9)!important;}
   nav[aria-label="breadcrumb"]{margin: 1rem 0 3rem;}
   .breadcrumb-item+.breadcrumb-item::before {
    float: left;
    padding-right: var(--bs-breadcrumb-item-padding-x);
    color: var(--bs-breadcrumb-divider-color);
    content: var(--bs-breadcrumb-divider, ">");
}
.abt-d-title{text-align: center;padding: 0 3rem;}
.qatar-img{margin-top: 1.5rem;}
.q-climate .title{font-size: 30px;line-height: 45px;}
.q-climate{padding: 4rem 0  ;}
.ico-r{position: absolute;top: 0;right: 0;width: 65px;text-align: right;}
.ico-l{position: absolute;top: 0;left: 0;width: 45px;text-align:left}

.hospitalit{text-align: center;padding-top: 2rem;}
.heritage,.nature{padding-top: 0;}
.heritage h2,.heritage p{text-align: right;}


/* tips */
.tip-content h3{font-size: 16px;font-weight: 500;font-family: var(--mont-font);}
.tip-content p{font-size: 13px;color: rgba(40, 40, 40, 0.9);line-height: 30px;margin: 0;}
.tip-area ul{padding: 0;margin: 0;list-style: none;counter-reset: section}
.tip-area ul li{display: flex;gap: 1.5rem;padding: 20px;box-shadow: var(--box-shadow);border-radius: 11px;margin-bottom: 2rem;}
.counter{width: 50px;height: 50px;background: rgba(222, 211, 207, 1);border-radius: 4px;flex-shrink: 0;display: flex;justify-content: center;align-items: center;font-size: 18px;font-weight: 600;padding: 1.5rem;color: var(--doha-clr);}
.counter::before{counter-increment: section;content: '0' counter(section);}
.tip-area{padding-top: 4rem;padding-bottom: 2rem;}
/* story */
.blue-title span{color:rgba(0, 79, 98, 1) ;}
.story-img{margin: 2rem 0;}
.top-more{top: 35%;}
.essence-img{text-align: right;}
.qatar-img img{width: 100%;height: 100%;object-fit: cover;}
.value-img{margin-bottom: 2rem;}
.logo-div-v2{padding-top: 0;}
.goal-ul .counter{background: rgba(213, 252, 250, 0.54);color: rgba(0, 79, 98, 1);}
.orange-title span{color: rgba(209, 135, 96, 1);}
.vis-img-det{float: left;margin-right: 3.5rem;margin-bottom: 1rem;}
.visa-box{padding: 35px;box-shadow: var(--box-shadow);margin-bottom: 3rem;}
.visa-box h3{font-size: 18px;font-weight: 500;font-family: var(--mont-font);}
.read-more{color:  rgba(209, 135, 96, 1);}
.visa-box h4{font-size: 15px;font-weight: 500;font-family: var(--mont-font);}
.visa-box p{color: rgba(40, 40, 40, 0.9);}
.cal-top{display: flex;justify-content:space-between;border-bottom: 1px solid#fff;padding-bottom: 0.7rem;margin-bottom: 1.5rem;}
.cal-top h2{font-size: 20px;color:rgba(48, 48, 49, 1)}
.cal-top i{font-size: 24px;color: rgba(48, 48, 49, 1);}
.calendar-box{background: rgba(106, 56, 34, 0.2);padding: 25px 30px;border-radius: 7px;margin-bottom: 2.5rem;margin-top: 1.5rem;}
.cal-box h3{font-size: 14px;font-weight: 400;}
.cal-box h4{font-size: 12px;font-weight: 400;margin: 0;}
.cal-box{background: #fff;text-align: center;padding: 15px;border-radius: 4px;cursor: pointer;}
.cal-bottom .owl-nav [class*=owl-]:hover{background: none;}
.cal-bottom .owl-nav [class*=owl-]{position: absolute;top: 50%;transform: translateY(-50%);background: #fff !important;width:30px;height: 50px;border: 1px solid #e1d7d3 !important;}
.cal-bottom .owl-theme .owl-nav{margin: 0 !important;}
.cal-bottom .owl-prev{left: -3rem;}
.cal-bottom .owl-next{right: -3rem;}
.calend-card{display: flex;gap: 1rem;background: #fff;border-radius: 4px;padding: 15px;box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;}
.calend-card h3{font-size: 15px;font-weight: 400;}
.calend-card h4{font-size: 13px;font-weight: 400;}
.calend-card p{font-size: 11px;color: rgba(40, 40, 40, 0.9);line-height: 21px;margin-bottom: 5px;}
.book-now{font-size: 12px;font-weight: 600;color: rgba(106, 56, 34, 1);}
.calend-card div{flex-basis: 50%;}
.calendar{padding-bottom: 3rem;}
.title-green span{color: rgba(84, 111, 82, 1);}

/* expanding cards */
.game-section {
  padding:0
}
.game-section .owl-stage {
  margin: 15px 0;
  display: flex;
  display: -webkit-flex;
}
.game-section .item {
  margin: 0 7px 60px;
  width: 180px;
  height: 400px;
  display: flex;
  display: -webkit-flex;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  background: #343434 no-repeat center center / cover;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.game-section .item.active {
  width: 350px;
  box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
}
.game-section .item:after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(to bottom , rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.4));
}
.game-section .item-desc {
  padding: 0 24px 12px;
  color: #fff;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transform: translateY(calc(100% - 54px));
  -webkit-transform: translateY(calc(100% - 54px));
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
.game-section .item.active .item-desc {
  transform: none;
  -webkit-transform: none;
}
.game-section .item-desc p {
  opacity: 0;
  -webkit-transform: translateY(32px);
  transform: translateY(32px);
  transition: all 0.4s ease-in-out 0.2s;
  -webkit-transition: all 0.4s ease-in-out 0.2s;
}
.game-section .item.active .item-desc p {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.game-section .owl-theme.custom-carousel .owl-dots {
  margin-top: -20px;
  position: relative;
  z-index: 5;
}
/******** Middle section CSS End *******/

/***** responsive css Start ******/

@media (min-width: 992px) and (max-width: 1199px) {


  /* -------- Landing page ------- */
  .game-section {
    padding: 50px 30px;
  }
  .game-section .item {
    margin: 0 12px 60px;
    width: 260px;
    height: 360px;
  }
  .game-section .item.active {
    width: 400px;
  }
  .game-section .item-desc {
    transform: translateY(calc(100% - 46px));
    -webkit-transform: translateY(calc(100% - 46px));
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  
  .line-title {
    width: 330px;
  }

  /* -------- Landing page ------- */
  .game-section {
    padding: 50px 30px 40px;
  }
  .game-section .item {
    margin: 0 12px 60px;
    width: 240px;
    height: 330px;
  }
  .game-section .item.active {
    width: 360px;
  }
  .game-section .item-desc {
    transform: translateY(calc(100% - 42px));
    -webkit-transform: translateY(calc(100% - 42px));
  }
}

@media (max-width: 767px) {

  .line-title {
    width: 250px;
  }

  /* -------- Landing page ------- */
  .game-section {
    padding: 30px 15px 20px;
  }
  .game-section .item {
    margin: 0 10px 0px;
    width: 270px;
    height: 280px;
  }
  .game-section .item.active {
    width: 270px;
    box-shadow: none;
    /* -webkit-box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25); */
  }

  /* new */
  .game-section .active .item-desc {
    transform: none;
    -webkit-transform: none;
}
.game-section .active .item-desc p {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

  .game-section .item-desc {
    padding: 0 14px 5px;
    transform: translateY(calc(100% - 42px));
    -webkit-transform: translateY(calc(100% - 42px));
  }
}

.item-desc h3{color: #fff;font-size: 16px;font-weight: 300;}
.game-section .item-desc p{color: #fff;font-size: 13px;line-height: 27px;}
.lt{padding-bottom: 0px;}
.wts{padding-top: 0;}
.desti-search input{font-size: 12px;border: none;width: 100%;padding-right: 2.5rem;}
.desti-search{border: 1px solid #000;padding: 15px;border-radius: 5px;max-width: 600px;margin:  auto;margin-bottom: 1rem;}
.desti-search i{position: absolute;right: 20px;top: 50%;transform: translateY(-50%);}
.calend-card .card-img img{width: 100%;height: 100%;object-fit: cover;}
.wts  .calend-card{margin: 1.5rem 0;}
.seemore{background: transparent;border: none;outline: none;font-size: 14px;text-transform: capitalize;display: block;margin-left: auto;}
.wts .book-now{color: rgba(84, 111, 82, 1);}
.explore-mis{padding: 3rem 0 0;}
.j-now{position: absolute;
  background: var(--doha-clr);
  border-radius: 4rem;
  color: #fff;
  font-size: 12px;
  border: none;
  outline: none;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
  height: 80%;
  padding: 0 25px;
}

/* footer */
.f-title{color: #fff;font-size: 16px;font-weight: 600;margin-bottom: 1rem;}
footer{background: url(../media/footer-bg.png), linear-gradient(90deg, #8A1538 0%, #8A1538 85%, #D34E56 100%);padding-top: 3rem;}
.f-title + ul{padding: 0;margin: 0;list-style: none;}
.f-title + ul li a{font-size: 13px;color: #fff;font-weight: 300;}
.f-title + ul li{margin: 0.7rem 0;}
.social-f h3{font-size: 14px;font-weight: 300;color: #fff;text-transform: capitalize;margin-bottom: 1rem;}
.social-f{text-align:right}
.f-b-area span{font-size: 13px;font-weight: 300;color: #fff;text-transform: capitalize;vertical-align: text-top;}
.f-b-area i{font-size: 16px;color: #fff !important;margin: 0 0.5rem;}
.f-b-area{display: flex;justify-content: space-between;}
.footer-bot{border-top: 1px solid #fff;padding-top: 1.5rem;margin-top: 1.3rem;padding-bottom: 1rem;}


/* acitivty search */
.act-top-slider{padding: 3rem 0;}
.custom-container{
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
 
  padding-right: 0;
  padding-left: calc(var(--bs-gutter-x)* .5);
  margin-right: 0;
  margin-left: calc((100% - 1140px)/2);
}
@media (min-width: 1400px) {
  .custom-container{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
   
    padding-right: 0;
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-right: 0;
    margin-left: calc((100% - 1320px)/2);
  }
}
.act-title{font-size: 19px;font-weight: 500;margin-bottom: 1.5rem;}
.act-cat{background: rgba(244, 244, 244, 1);padding: 3rem 0;}
.c-ico img{width: auto !important; }
.c-cont h3{font-size: 14px;font-weight: 400;}
.act-cat-box{background: #fff;box-shadow: var(--box-shadow);padding: 10px;border-radius: 5px;text-align: center;}
.c-ico{width: 45px;height: 45px;background: #fff;border-radius: 50%;display: flex;align-items: center;justify-content: center;z-index: 1;position: relative;margin-top: -20px;margin-left: auto;margin-right: auto;}
.act-cat .owl-nav [class*=owl-]:hover{background: none;}
.act-cat .owl-nav [class*=owl-]{position: absolute;top: 50%;transform: translateY(-50%);}
.act-cat    .owl-prev{left: -3rem;}
.act-cat .owl-next{right: -3rem;}
.act-cat .owl-theme .owl-nav{margin: 0;}
.v-all{font-size: 14px;color: rgba(40, 40, 40, 0.7);font-weight: 500;text-transform: capitalize;}
.flex-title{display: flex;justify-content: space-between;align-items: center;}
.best-deals{padding: 3rem 0;}
.best-deals .c-head{border-bottom: none;padding-bottom: 0;}
.best-deals .title-l h4{color: grey;}
.best-deals .rr{margin-top: 0;text-align:right}
.search-area h1{text-align: center;font-size: 33px;font-weight: 400;text-shadow: none;font-family: emoji;margin-bottom: 15px;}


/* bookiing css */
.bookingPageHotel .rr span:first-of-type {
  border: 1px solid rgba(242, 203, 215, 1);
  padding: 0.5rem;
  font-size: 12px;
  border-radius: 0.5rem;
  background-color: rgba(242, 203, 215, 1);
  font-weight: 500;
}
.infoLeft p{font-size: 14px;line-height: 22px;}
.bookingPageHotel .saved {
  border: 1px solid rgba(242, 203, 215, 1);
  padding: 0.5rem 2rem;
  background-color: rgba(242, 203, 215, 1);
  font-size: 10px;
  border-radius: 1.5rem;
  text-transform: capitalize;
  font-weight: 500;
  color: #000;
}
.bookingPageHotel .cp-link {
  font-size: 11px;
  text-decoration: underline;
  color: blue;
  margin: 10px 0;
  display: inline-block;
}
.i-border {
  border: 1px solid #bebebe;
  padding: 0.5rem 1rem;
  font-size: 14px;
  text-transform: capitalize;
}
.bookingPageHotel .select {
  display: flex;
  justify-content: space-between;
}
.c-menu {
  border: 1px solid #bebebe;
  padding: 0;
  display: none;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 30px;
  width: 100%;
  background: white;
  z-index: 999;
}
.c-menu li {
  list-style-type: none;
  padding: 0 1rem;
  text-transform: capitalize;
  cursor: pointer;
}
.active-op {
  background: rgba(242, 203, 215, 1);;
}
.c-menu-active {
  display: block;
  opacity: 1;
}
.bookingPageHotel .check {
  background-color: var(--doha-clr);
  color: #fff;
  border: none;
  outline: none;
  font-size: 13px;
  text-transform: capitalize;
}
.fs-16 {
  font-size: 16px;
}
.fs-12 {
  font-size: 12px;
}
.saved i {
    margin-right: 1rem;
    color: var(--doha-clr);
}

.rvBooking{background: #e694ad;margin-top: 1rem;}
.fs-13{font-size: 13px;}
.app-coup{color: var(--doha-clr);}

/* profile page */
.pass-change {
  padding: 5px;
  border-radius: 0.5rem;
  background: #fff;
  border: 1px solid #cdcdcd;
  margin-top: 0.5rem;
  flex: 1;
}

.list-group-item.active {
  z-index: 2;
  color: inherit;
  background-color: white;
  border-left: 2px solid var(--doha-clr) !important;
  border-color: white;
}

.list-group-item {
  font-size: 15px;
 
  font-weight: 400;
  text-transform: capitalize;
  border: none;
  padding: 10px 20px;
}
.user-profile ul {
  padding: 0;
  list-style: none;
}
.pass-change input {
  border: none;
  background: transparent;
  width: 95%;
}
.card-body p {
  font-size: 12px;
}
.pass-label {
  font-size: 13px;
  font-weight: 500;
  color: gray;
  margin-top: 15px;
}
.pass-info {
  font-size: 12px;
  color: gray;
}
.button-submit {
  margin: 0;
  background-color: var(--doha-clr);
  border: none;
  color: white;
  font-size: 13px;
  font-weight: 500;
  
  border-radius: 4px;
padding: 7px 25px;
  width: 100%;
  cursor: pointer;
}
.country-selector .btn {
  color: var(--doha-clr) !important;
  border: none;
  border-radius: 30px;
  background: #fff !important;
  font-size: 14px;
}
.country-selector .btn::after{display: none;}
.rwd-table {
  margin: auto;
  width: 100%;
  border-collapse: collapse;
}

.rwd-table tr:first-child {
  border-top: none;
  background: var(--doha-clr);
  color: #fff;
}
.view-o {
  border: 1.5px solid var(--doha-clr);
  outline: none;
  background: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 12px;
  text-transform: capitalize;
}
.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #f5f9fc;
}

.rwd-table tr:nth-child(odd):not(:first-child) {
  background-color: #ebf3f9;
}

.rwd-table th {
  display: none;
}

.rwd-table td {
  display: block;
}

.rwd-table td:first-child {
  margin-top: 0.5em;
}

.rwd-table td:last-child {
  margin-bottom: 0.5em;
}

.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 120px;
  display: inline-block;
  color: #000;
}

.rwd-table th,
.rwd-table td {
  text-align: left;
  font-weight: 400;
  font-size: 13px;
}

.w-img {
  width: 100px;
  height: 100px;
}
.w-img img {
  max-width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  margin: auto;
}

.rwd-table {
  color: #333;
  border-radius: 0.4em;
  overflow: hidden;
}

.rwd-table tr {
  border-color: #bfbfbf;
}

.rwd-table th,
.rwd-table td {
  padding: 0.5em 1em;
}
@media screen and (max-width: 601px) {
  .rwd-table tr:nth-child(2) {
    border-top: none;
  }
}
@media screen and (min-width: 600px) {
  .rwd-table tr:hover:not(:first-child) {
    background-color: #d8e7f3;
  }
  .rwd-table td:before {
    display: none;
  }
  .rwd-table th,
  .rwd-table td {
    display: table-cell;
    padding: 0.25em 0.5em;
  }
  .rwd-table th:first-child,
  .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child,
  .rwd-table td:last-child {
    padding-right: 0;
  }
  .rwd-table th,
  .rwd-table td {
    padding: 1em !important;
  }
}



/* transportation search */
.transport-type ul{justify-content: center;gap: 2rem;}
.transport-type input[type='radio']:checked + label{border: none;}
.act-type input[type='radio']{display: inline-block;accent-color: var(--doha-clr);vertical-align:middle;}
.veh-type select{width: 100%;height: 100%;border: none;appearance: none;border-radius: 12px;
  padding: 5px 0;
  box-shadow: none;
  color: #000;
  background: 0 0;
  border: none;
  font-size: 15px;
  font-weight: 500;}

  .rr .fa-star{font-size: 9px;}

  .search-form .form-group:has(select){padding: 0;}
  .search-form .form-group:has(select) label{padding: 10px 15px 0;}
  .search-form .form-group:has(select) select{padding: 0px 15px;cursor: pointer;}
  .tooltip {
   
    --bs-tooltip-font-size: 13px;
    --bs-tooltip-color: #4b4b4b;
    --bs-tooltip-bg: #ffffff;
    --bs-tooltip-opacity: 1;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    line-height: 25px;
    --bs-tooltip-border-radius:5px;
    border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;
  }


  .hour-type label input{position: absolute;opacity: 0;}
  .hour-type label{font-size: 11px;background: #fff;border: 1px solid var(--doha-clr);padding:2px 5px;border-radius: 2px;cursor: pointer;color: var(--doha-clr);text-transform: capitalize;font-weight: 400;margin-left: 4px ;}
  .hour-type{text-align: right;}
  .hour-type label:has(input:checked){background: rgba(242, 203, 215, 0.65);}
  .car-feat-list{padding: 0;display: flex;flex-wrap: wrap;column-gap: 11px;list-style-position: inside;margin: 0;margin-top: 10px;}
  .car-feat-list li{font-size: 12px;font-weight: 400;}
  .det-tab-body ul .sub-spec{list-style: disc;list-style-position: inside;padding: 1rem;}

  /* login modal */
.login-modal .modal-header{background: var(--doha-clr);}
.login-modal .btn-close{background-color: #fff;}
.user-l-ico{width: 90px;margin: 1rem auto;}
.form-control:focus{box-shadow: none;border-color: #cdcdcd;}
.login-modal label{font-size: 14px;margin-bottom: 9px;color: gray;font-weight: 400;}
.login-next{padding: 8px 8px;background: var(--doha-clr);text-transform: capitalize;font-weight: 400;font-size: 14px;color: #fff;border: none;display: block;width: 100%;border-radius: 5px;margin-top: 1rem;}
.password{position: relative;}
.password i{position: absolute;right: 10px;top: 50%;transform: translateY(-50%);cursor: pointer;}
.login-modal input{font-size: 13px;}
.login-modal .modal-title{font-size: 17px;font-weight: 500;text-shadow: none;}
.reset-area input{vertical-align: middle;accent-color: var(--doha-clr);}
.reset-area label{font-size: 13px;text-transform: capitalize;cursor: pointer;}
.reset-area{display: flex;margin-top: 1rem;justify-content:space-between;align-items: center;}
.forgot{text-align: right;text-transform: capitalize;font-size: 13px;display: block;font-weight: 300;color: blue !important;}
#resetmodal p{font-size: 13px;line-height: 22px;text-align: ;}
.search-area .owl-carousel .owl-item img{width: auto;display: inline-block;}
.act-divs label{font-size: 15px;font-weight: 400;padding-bottom: 8px;cursor: pointer}
.act-divs input{display: none !important;}



/* 14/10/24 */
.c-img,.activity-img{height: 155px;}
.c-img img,.activity-img img{width: 100%;height: 100%;object-fit: cover;}









/* mobile media query */
@media only screen and (min-width:321px) and (max-width:768px){
  .top-bar p{font-size: 11px;line-height: 21px;}
  #top-close{display: none;}
  .swiper-slide img{height: 100%;object-fit: cover;}
  .navbar-toggler:focus{box-shadow: none;}
  .swiper-image{height: 100%;}
  .swiper{height: 430px;}
  .social li i{font-size: 14px;}
  .slide-content{right: 30px;}
  h1{font-size: 20px;line-height: 25px;}
  .slide-content h2{font-size: 14px;line-height: 25px;}
  .slide-content ul li{font-size: 12px;line-height: 15px;}
  .swiper-button-next, .swiper-button-prev{width: 30px;height: 30px;}
  .swiper-button-next:after, .swiper-button-prev:after{font-size: 10px;}
  .swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: auto;
    right: var(--swiper-navigation-sides-offset, 55px);
}
.navbar-toggler{border: none;}
.navbar-toggler-icon{filter: invert(1);}
header{backdrop-filter: blur(6px);z-index: 9;}
.title{font-size: 16px;line-height: 26px;}
p{font-size: 13px;line-height: 27px;}
.explore-mis{padding: 3rem 0 0;}
.ico-l,.ico-r{width: 30px;}
.abt-d-title{padding: 0 1rem;}
.item-desc h3{font-size: 15px;}
.game-section .item-desc p{line-height: 23px;font-size: 12px;}
header .navbar-nav{gap: 10px;}
header .nav-link{font-size: 13px;}
.logo{width: 110px;padding: 10px;}
.about div[class*='col']{width: 100%;}
.k-mre{font-size: 13px;}
.ab-box-area{grid-template-columns: repeat(2,1fr);margin: 2.5rem 0 0;}
.event-pills{gap: 1rem;}
.event-pills .nav-link{font-size: 15px;border: none;}
.ab-cont h4{font-size: 13px;}
.sm-span{font-size: 12px;}
.tbyg div[class*='col']{width: 100%;}
.t-ico{width: 40px;margin: auto;}
.thing-box h3{font-size: 15px;}
.email-inp{width: 250px;padding: 8px;}
.email-inp input{font-size: 13px;}
.sub-area p{padding: 0 4rem;}
.footer-top div[class*='col']{width: 100%;}
.f-title{font-size: 15px;}
.f-b-area{display: block;}
.f-b-area div{margin: 4px 0;}
.g-5, .gx-5 {
  --bs-gutter-x: 0;
}
.g-5, .gy-5{
  --bs-gutter-y:0;
}
.f-title + ul{margin-bottom: 2rem;}
.breadcrumb li, .breadcrumb a{font-size: 12px !important;}
.q-climate .title{font-size: 16px;line-height: 26px;}
.wts div[class*='col']{width: 100%;}
.seemore{font-size: 13px;margin-bottom: 2rem;}
.q-climate div[class*='col']{width: 100%;}
.tip-content h3{font-size: 14px;line-height: 27px;}
.h-img{margin: 1rem 0;}
.blend-img{margin-bottom: 1rem;}
.heritage h2, .heritage p{text-align: justify;}
.blend-img img,.h-img img{width: 100%;height: 100%;object-fit: cover;object-position: center;}
.blend-img,.h-img{height: 200px;}
.vis-img-det{margin:0 auto;text-align: center;float: unset;margin-bottom: 1.5rem;}
.visa-box h3{margin: 1rem 0;font-size: 15px;}
.visa-box{padding: 0;}
.visa-box h4{font-size: 13px;}
.cal-top h2,.cal-top i{font-size: 15px;}
.calendar div[class*='col-']{width: 100%;}
.calend-card{display: block;}
.calend-card .card-img{margin-bottom: 1rem;}
.calend-card h3{font-size: 14px;}
.calend-card h4{font-size: 12px;}
.visa-box{box-shadow: none;}
.tip-area ul li{display: block;}
.counter{margin-bottom: 1.5rem;}
.search-area h1{font-size: 20px;line-height: 30px;}
.act-divs label{font-size: 12px;}
.search-wrapper .tab-content {
  background: #fff;
  padding: 0 15px 30px 15px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.search-wrapper div[class*='col']{width: 100%;}


/* 11/10 */
.search-area{padding-top: 2rem;}
.j-ico{width: 35px;margin: auto;}
.search-banner{height: 100vh;}
.search-form .form-control{font-size: 13px;}
.search-form .form-group label{font-size: 15px;}
.mobile-type{display: flex;justify-content: space-between;align-items: center;gap: 1rem;}
.mobile-type select{flex-shrink: 0;font-size: 12px;text-transform: capitalize;padding: 6px;
  border: 1px solid #cdcdcd;
  border-radius: 8px;}
  .custom-container{margin-left: 0.5rem;}
.mobile-type h2{font-size: 12px;font-weight: 500;margin: 0;text-transform: uppercase;}
.act-title{font-size: 15px;}
.c-cont h3{font-size: 13px;}
.act-cat .owl-nav [class*=owl-]{display: none;}
.best-deals div[class*='col']{width: 100%};
.v-all,.title-l h3{font-size: 13px;}
}


/* 17/10/24 */
.modal-input input{width: 100%;font-size: 13px;border: none;}
.modal-input{padding: 7px 20px;border-radius: 7px;border: 1px solid #000}
.empid_modal .modal-header{background: var(--doha-clr);}
.empid_modal .modal-title{font-weight: 500;font-size: 15px;box-shadow: none;}
.empid_modal .btn-close{background-color: #fff;}
.done-btn{background: var(--doha-clr) !important;color: #fff !important;font-size: 13px;text-transform: capitalize;}
.cancel-btn{background: rgba(225, 225, 225, 0.6) !important;color: var(--doha-clr) !important;font-size: 13px;text-transform: capitalize;}





/* megamenu */
.mega-box{display: flex;position: absolute;top: 0px;width: 80%;left: 50%;background: #fff;border-radius: 14px;justify-content: space-between;transform: translateX( -50%);overflow: hidden;visibility:hidden;opacity: 0;}
.container{position: relative;}
.sec h2{font-size: 13px;font-weight: 500;text-transform: capitalize;margin: 1rem 1.5rem 0;padding: 0.5rem 1.3rem ;border-left: 1.5px solid #cdcd}
.mega-box ul{list-style: none;padding: 0;}
.cat-links li a{font-size: 12px;font-weight: 400;text-transform:capitalize}
.cat-links li{margin: 0.3rem 1rem !important;padding: 0rem 1.3rem}
.sec a:hover{color: var(--doha-clr);}
.sub-links li{padding: 0.5rem 1.3rem 0 ;border-left: 1.5px solid #cdcd;margin: 0.5rem 0;}
.sub-links li a{font-size: 13px;font-weight: 400;text-transform: capitalize;}
.sub-links li:first-child{margin-top: 1rem;}
.img-box{flex-basis: 250px;height: 230px;position: relative;z-index: 3;}
.img-box img{height: 100%;object-fit: cover;width: 100%;}
.nav-item:hover .mega-box,.mega-box.active {opacity: 1;visibility: visible;top: 100px;}
.nav-item::after{content: '';height: 70px;position: absolute;bottom: -40px;background: transparent;width: 100px;}
.link-img{display: none;}
.vall{color: var(--doha-clr);font-weight: 500;font-size: 12px;text-transform: capitalize;margin-bottom: 1rem;}
.sec{position: relative;display:flex;flex-direction: column;justify-content: flex-end;padding-bottom: 3rem;}
.sub-links{display: grid;grid-template-rows: repeat(3,1fr);grid-template-columns: repeat(2,1fr);column-gap: 5rem;}
.mega-img{position: absolute;bottom: 0;width: 100%;}

.act-new-card .c-bottom{padding: 0;}
.act-new-card .c-head{padding-bottom: 0;border: none;}
.act-new-card{box-shadow: none;padding: 0;}
.act-new-card .activity-img{height: 250px;}
.act-new-card img{height: 100%;width: 100%;object-fit: cover;border-radius: 4px;}
.act-new-card .title-l h3{color: rgba(40, 40, 40, 0.9);font-size: 14px;}
.act-new-card .b-r h4{font-size: 13px;}
.list-banner{height: 350px;position: relative;}
.list-bg-img{height: inherit;}
.list-bg-img img{width:100%;height: 100%;object-fit: cover;}
.l-banner-content{position: absolute;bottom: 30px;width: 100%;}
.list-slide-img{height: 115px;}
.list-slide-img img{width: 100%;height: 100%;object-fit: cover;border-radius: 4px;border: 1px solid #fff;}
.l-banner-content h2{font-size: 27px;color: #fff;text-transform: capitalize;margin-bottom: 1rem;}
.l-banner-content h3{font-size: 18px;color: #fff;font-weight: 400;}
.owl-theme .owl-nav [class*=owl-]:hover{background: transparent;}
.list-banner .owl-nav{position:absolute;top: 50%;transform: translateY(-50%);margin: 0;}
.bc nav[aria-label="breadcrumb"]{margin-bottom: 2rem;}


.n-ac-detial .detail-head{display: block;}
.n-ac-detial .detail-foot{display:block;}
.n-ac-detial .map-card{height: auto;}
.n-ac-detial .foot-r{text-align:center}
.n-ac-detial  .foot-r h2 span{    color: rgba(40, 40, 40, 0.7);
  font-size: 12px;
  line-height: 22px;}

  .n-ac-detial .foot-r h2{line-height:20px}
  .n-ac-detial .see-avail{display: block;width: 100%;margin-top: 1rem;}
  .d-img{height: 350px;}
  .d-img img,.s-img img{width: 100%;height: 100%;object-fit: cover;border-radius: 7px;}
  .s-img{height:100%}
  .l-banner-content h2,.detail-head h2{font-family: var(--mont-font);letter-spacing: 1px;}
  .ac-d-title h2{font-size: 25px;font-family: var(--mont-font);font-weight: 600;}
  .ac-d-title a{color: var(--doha-clr);font-size: 14px;font-weight: 400;}
  .ac-d-title{margin-bottom: 1.5rem;}
  .n-ac-detial{padding-top: 0;}
  .n-ac-detial .detail-card{box-shadow: none;padding: 0;}
  .n-ac-detial .detail-foot{padding-bottom: 1rem;border-bottom: 1px solid var(--lg-grey);}


.da-title  {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    font-family: var(--mont-font);
    letter-spacing: 1px;
}

.d-bottom-area .accordion-button:not(.collapsed){background: transparent;}
.accordion-button:focus{box-shadow: none;}
.d-bottom-area  .accordion-item {
  color: var(--bs-accordion-color);
  background-color: var(--bs-accordion-bg);
  border-bottom: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);border-top: 0;border-left: 0;border-right: 0;
}
.d-bottom-area .accordion-button{padding-left: 0;font-size: 16px;color: rgba(40, 40, 40, 0.9);}
.d-bottom-area{margin-top: 2rem;}
.d-bottom-area .accordion-body{padding-left: 0;}
.d-bottom-area .accordion-body p{font-size: 13px;line-height: 25px;}